* {
	font-family: "Raleway", sans-serif;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* navigation styling  */
#navibar {
	background-color: #4a5759;
	a {
		color: white;
	}
}
.navbarLinks * {
	color: white;
	text-decoration: none;
	margin: 0 0.5rem;
}
#navibar-button {
	background-color: #989898;
	border: none;
}
#navibar-button:focus {
	outline: none !important;
	box-shadow: none !important;
}

/* app styling */
#app {
	min-height: 100vh;
	background-color: #b0c4b1;
}

// home page styling
.homeContainer {
	// padding-top: 4rem;
	// display: grid;
	// grid-template-columns: 1fr;
	// // max-width: 80%;
	// margin: 0 auto;
	.innerContainer {
		display: flex;
		max-width: 80%;
		margin: 0 auto;
		padding-top: 4rem;
		.leftText {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 2rem;
			font-size: 25px;
		}
	}
	.downloadButton {
		text-align: center;
		border-radius: 4px;
		background-color: black;
		border: none;
		color: white;
		padding: 6px 15px;
		cursor: pointer;
		font-size: 16px;
		width: 60%;
		margin: 1rem auto;
		text-decoration: none;
	}
	// .downloadButton:hover {
	// 	background-color: black;
	// }
}
.btn-custom {
	width: 300px;
	// background-color: #989898 !important;
	color: white !important;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 400px;
	background: #262626;
	overflow: hidden;
}
.card .imgBx,
.card .details {
	width: 100%;
	height: 100%;
	position: absolute;
	box-sizing: border-box;
	transition: 0.5s;
}
// .card .imgBx {
// 	top: 0;
// 	left: 0;
// }
.card:hover .imgBx {
	top: 0;
	left: -100%;
}
.card .imgBx {
	height: 400px;
}
img {
	width: 400px;
}
.card .details {
	background: #262626;
	top: 0;
	left: 100%;
	padding: 60px 30px;
}
.card:hover .details {
	top: 0;
	left: 0%;
}
.card .details h2 {
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0 0 10px;
	border-bottom: 2px solid #fff;
}
.card .details p {
	margin: 20px 0 0;
	color: #fff;
}

// projects page styling

.projectsGrid {
	display: grid;
	margin: 0 auto;
	width: 80%;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}
	iframe {
		width: 100%;
		height: 315px;
		// @media(max-width: 768px){
		// 	height:
		// }
	}
	a {
		color: inherit;
		&:hover {
			color: lighten(black, 50%);
		}
		&:visited {
			color: inherit;
		}
	}
}

// carousel styling

.carouselOfLinda {
	width: 40%;
	margin: 0 auto;
	.slide {
		max-height: 500px;
	}
}

// contact page styling

.contactGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

// all link styling
.contactGrid a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: lighten(black, 50%);
	}
	// &:visited {
	// 	color: inherit;
	// }
}

// about me styling
// .timeline {
// 	background: #3da3d5;
// 	font-family: "Montserrat", sans-serif;
// 	font-size: 16px;
// 	color: rgb(53, 53, 53);
// }
.aboutMeParagraph {
	margin-bottom: 1rem;
	a {
		color: inherit;
		margin-right: 0.25rem;
	}
}
// .timeline {
// 	.listElement {
// 		font-size: 14px;
// 		opacity: 100%;
// 	}
// 	.titleElement {
// 		font-size: 20px;
// 		margin-bottom: 0.5rem;
// 		opacity: 100%;
// 	}
// 	h4 {
// 		font-size: 18px;
// 	}
// 	h5 {
// 		font-size: 16px;
// 	}
// }

.title {
	font-size: 3em;
	padding-top: 1rem;
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
}

.vertical-timeline-element-content {
	// opacity: 70%;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
		0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
	padding: 2em 3em !important;
}
