* {
	font-family: "Raleway", sans-serif;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* navigation styling  */
#navibar {
	background-color: #4a5759;
	a {
		color: white;
		text-decoration: none;
	}
	.brand {
		font-size: 1.5rem;
		margin-right: 1rem;
	}
}
.navbarLinks * {
	color: white;
	text-decoration: none;
	margin: 0 0.5rem;
	@media (max-width: 768px) {
		text-align: center;
	}
}
#navibar-button {
	background-color: #00856A;
	border: none;
	@media (max-width: 768px) {
		margin: auto;
		display: block;
		width: 80%;
	}
}
#navibar-button:focus {
	outline: none !important;
	box-shadow: none !important;
}

#root {
	overflow:hidden;
}

/* app styling */
#app {
	height: calc(100vh - 52px);

	// background-image: url('table_mountain.jpg');
	background-color: #b0c4b1;


}

.homeContainer {

	background-image: url('table_mountain.jpg');
	background-size: cover; 
    background-repeat: no-repeat;
	background-position: center;

}

.innerContainer {
	display: flex;
	max-width: 60%;
	margin: 0 auto;
	height: 100vh;
	@media (max-width: 768px) {
		flex-direction: column;
	}
	.leftText {
		flex: 50%;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-right: 2rem;
		font-size: 25px;
		justify-content: flex-start;
		padding-top: 10%;
		@media (max-width: 768px) {
			text-align: center;
			margin: 2rem auto;
		}
	}
	.rightSide {
		flex: 50%;
		display: flex;
		padding-top: 10%;
		@media (max-width: 768px) {
			justify-content: center;
		}
		img {
			height: 250px;
			border-radius: 20%;
			object-fit: cover;
			width: 250px;
			@media (max-width: 768px) {
				height: 300px;
				margin-bottom: 2rem;
			}
		}
	}
}
.downloadButton {
	margin-right: auto;
	margin-left: auto;
	margin-top: 8px;
	text-align: center;
	border-radius: 4px;
	background-color: black;
	border: none;
	color: white;
	padding: 6px 15px;
	cursor: pointer;
	font-size: 16px;
	width: 30%;
	text-decoration: none;
	@media (max-width: 768px) {
		margin: auto;
	}
}

.btn-custom {
	width: 300px;
	color: white !important;
}

// projects page styling

.projectsGrid {
	display: grid;
	margin: 3rem auto 0;
	width: 80%;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}
	iframe {
		width: 100%;
		height: 315px;
		// @media(max-width: 768px){
		// 	height:
		// }
	}
	a {
		color: inherit;
		&:hover {
			color: lighten(black, 50%);
		}
		&:visited {
			color: inherit;
		}
	}
}

// carousel styling

.lindaContainer {
	display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
	align-items: center;
	width: 80%;
	margin: auto;
	.lindaPhotos {
		display:flex;
		flex-wrap: wrap;
		justify-content:center;
	}
	img {
		height: 250px;
		// border-radius: 20%;
		object-fit: cover;
		width: 250px;
		// @media (max-width: 768px) {
			height: 300px;
		// }
	}
}
.carouselOfLinda {
	width: 40%;
	margin: 0 auto;
	.slide {
		max-height: 500px;
	}
	@media (max-width: 768px) {
		width: 80%;
	}
}

// contact page styling

.contactGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

// all link styling
.contactGrid a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: lighten(black, 50%);
	}
}

// about me styling

.aboutMePhoto {
	display: flex;
	justify-content: center;
	img {
		height: 250px;
		border-radius: 20%;
		object-fit: cover;
		width: 250px;
		// @media (max-width: 768px) {
			height: 300px;
			margin-bottom: 2rem;
		// }
	}
}

.aboutMeParagraph {
	margin-bottom: 1rem;
	a {
		color: inherit;
		margin-right: 0.25rem;
	}
}


.svg-inline--fa.fa-w-18 {
	width: 1.5em;
}
.svg-inline--fa.fa-w-14 {
	width: 1.5em;
}

.title {
	font-size: 3em;
	padding-top: 1rem;
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
}

.vertical-timeline-element-content {
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
		0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
	padding: 2em 3em !important;
}
